page-home {
    ion-header{
        .headbk{
            border:none;
            // #search{
            //     width:100%;
            //     height:30px;
            //     // border:1px solid red;
            //     line-height: 30px;
            //     margin-top:9px;
            //     input{
            //         width:90%;
            //         height:30px;
            //         text-align: center;
            //         margin-left:5%;
            //         border-radius: 20px;
            //         line-height: 30px;
            //         border:1px solid #80C9C4;
            //         color:#BBBBBb;
            //     }
            //     i{
            //         position:absolute;
            //         margin-left:23%;
            //         line-height: 30px;
            //         font-size: 23px;
            //         color:#BBBBBE;
            //     }
            // }
            input{
                width:90%;
                height:30px;
                margin-top:9px;
                text-align: center;
                margin-left:5%;
                border-radius: 20px;
                line-height: 30px;
                border:1px solid #80C9C4;
                color:#BBBBBb;
            }
            i{
                position:absolute;
                margin-left:23%;
                top:15%;
                line-height: 30px;
                font-size: 23px;
                color:#BBBBBE;
            }
        }
    }
    ion-content{
        background-color:white!important;
        ion-slides{
            height:160px;
            // border:1px solid black;
        }
        #navigation{
            width: 100%;
            height:200px;
            // border:1px solid red;
            list-style: none;
            background: white;
            margin:0;
            padding:0;
            li{
                float: left;
                width:20%;
                height:90px;
                // border:1px solid red;
                margin-top:5px;
                img{
                    width:60px;
                    height:60px;
                    border-radius: 50%;
                    margin-top:5px;
                    margin-left:6px;
                }
                span{
                    display: block;
                    width: 100%;
                    height:20px;
                    // border:1px solid green;
                    text-align: center;
                }
            }
        }
        .goods{
            width: 100%;
            // height:1200px;
            // border:1px solid black;
            list-style: none;
            margin:0;
            padding:0;
            // background:#F5F5F5;
            li{
                float: left;
                width:46%;
                height:260px;
                margin:2% 2% 2% 2%;
                // border:1px solid #BBBBBB;
                border-radius: 10px;
                background: white;
                // div{
                //     width: 160px;
                //     height:200px;
                //     border:1px solid green;
                //     border-radius: 10px;
                //     margin:0 auto;
                //     img{
                //         width:160px;
                //         height:200px;
                //         border-radius: 10px;

                //     }
                // }
                img{
                    width:100%;
                    height:210px;
                    border-radius: 10px;

                }
                span{
                    // margin-top:2px;
                    width:100%;
                    height:20px;
                    display: block;
                    // border:1px solid green;
                    font-size:15px;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap; 
                }
            }
        }
    }
}
