page-comment {
    ion-content{
        .bk{
            width: 100%;
            height: 100%;
            background: #f6f7f8;
            .div1{
                width: 100%;
                height:90px;
                float: left;
                // margin-top:5px;
                background: white;
                // border:1px solid black;
                // background: yellow;
                div{
                    height:80px;
                    // border:1px solid black;
                    float: left;
                }
                .left{
                    margin-top:5px;
                    width: 20%;
                    margin-left: 2%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .right{
                    margin-top:5px;               
                    width: 74%;
                    margin-left: 2%;
                    div{
                        width: 100%;
                        // border:1px solid red;
                        float: left;
                    }
                    .title{
                        height:30px;
                        line-height: 30px;
                    }
                    .star{
                        margin-top:10px;
                        height:30px;
                        ul{
                            margin:0;
                            padding: 0;
                            width: 155px;
                            height:30px;
                            // border:1px solid black;
                            list-style: none;
                            float: left;
                            li{
                                float: left;
                                width:30px;
                                height:30px;
                                // border:1px solid red;
                                line-height: 30px;
                                color:#bbbbbb;
                                i{
                                    font-size:20px;
                                }
                            }
                            .light{
                                color:#b62d35;
                            }
                        }
                    }
                    span{
                        display: block;
                        float: left;
                        width: 50px;
                        // border:1px solid black;
                        height:30px;
                        line-height: 30px;
                        color:#bbbbbb;
                    }
                }
            }
            .div2{
                background: white;
                width: 100%;
                height:150px;
                float: left;
                margin-top:5px;
                // border:1px solid red;
                textarea{
                    width: 96%;
                    height:150px;
                    margin-left: 2%;
                    // background: yellow;
                    border:none;
                    padding-top: 5px;
                }
            }
            button{
                width: 80%;
                height:40px;
                border:1px solid #80C9C4;
                background: #80C9C4;
                color:white;
                font-size:16px;
                margin-left:10%;
                margin-top:30px;
                border-radius:30px;
            }
        }
    }
    .DialogTwo{
        position: absolute;
        width: 70%;
        height:45px;
        left:15%;
        top:48%;
        z-index:1000; 
        background-color:white;
        border-radius: 10px;
        // border:1px solid #80c9c4;
 
        .div-content{
            width: 100%;
            height:45px;
            text-align: center;
            line-height: 45px;
            font-size:17px;
            font-weight: bold;
            // border:1px solid red;
        }
    }
 
    .shade{
        position: absolute; 
        top: 0%; 
        left: 0%; 
        width: 100%; 
        height: 100%; 
        background-color: black; 
        z-index:999; 
        -moz-opacity: 0.3; 
        opacity:.30; 
        filter: alpha(opacity=30);
    }
}
