page-goods {
    ion-header{
        #navList{
            margin: 0;
            padding: 0;
            list-style: none;
            width: 90%;
            height:46px;
            float: left;
            // border:1px solid black;
            margin-left:10%;
            li{
                float: left;
                width: 15%;
                height: 46px;
                // border: 1px solid red;
                text-align: center;
                line-height: 46px;
                font-size:15px;
                margin-left:10%;
                // color:#80c9c3;
                // border-bottom:2px solid #80c9c3;
                i{
                    color: #80c9c4;
                    font-size:25px;
                }
            }
            .first{
                border-bottom:2px solid #80c9c4;
                color:#80c9c4;
            }
            .second{
                border-bottom:2px solid #80c9c4;
                color:#80c9c4;
            }
            .third{
                border-bottom:2px solid #80c9c4;
                color:#80c9c4;
            }
        }
    }
    ion-content{
        background-color:#fefefe!important; 
        .lunbo{
            width: 100%;
            height:470px;
            // border:1px solid black;
            background: white;
            ion-slides{
                width: 100%;
                height:380px;  
                // border:1px solid red;
                img{
                    width: 100%;
                    height:100%;
                }
            }
            .text{
                width: 100%;
                height:80px;
                margin-top:6px;
                background: white;
                // border:1px solid red;
            }
            span{
                display: block;
                width: 100%;
                height:25px;
                // border:1px solid green; 
                padding-left:5px;
                padding-right:3px;       
                text-align: center; 
            }
            .title{
                font-size:16px;
            }
            .price{
                font-size:18px;
                color:rgb(196, 16, 16);
                font-weight: bold;
                font-family: 'Monospace';
            }
            .sale{
                color:#B9B4B4;
                line-height: 25px; 
            }
        }
        .describe{
            background: white;
            margin-top:10px;
            // width: 100%;
            // height:80px;
            span{
                width: 100%;
                height:30px;
                display: block;
                // border:1px solid black;
                text-align: center;
                font-size:16px;
                font-weight: bold;
                line-height: 30px;
            }
            div{
                padding:5px  10px;
            }
        }
        .zong{
            display: block;
            width: 100%;
            height:40px;
            // border:1px solid #bbbbbb;
            line-height: 40px;
            font-size:15px;
            padding-left: 10px;
            background: white;
        }
        .bar{
            width: 100%;
            height: 8px;
            background: #f4f4f4;
        }
        #kong{
            img{
                margin-top:50px;
                // margin-top:50px;
            }
            span{
                width:100%;
                height:30px;
                display: block;
                // border:1px solid green;
                color:#Bbbbbb;
                line-height: 30px;
                text-align: center;
            }
        }
        ul{
            margin:0;
            padding:0;
            list-style: none;
            li{
                float: left;
                width: 96%;
                // height:130px;
                margin-left:2%;
                // border:1px solid red;
                border-bottom: 1px solid #f4f4f4;
                div{
                    float: left;
                    margin-top:5px;
                    // border:1px solid black;
                }
                .left{
                    width: 18%;
                    height:60px;
                    // background: yellow;
                    img{
                        width: 50px;
                        height:50px;
                        margin-left: 5px;
                        margin-top:5px;
                        border-radius: 50%;
                    }
                }
                .right{
                    width: 82%;
                    height:60px;
                    span{
                        display: block;
                        width: 100%;
                        height:20px;
                        line-height: 20px;
                        // border:1px solid green;
                    }
                    span:first-child{
                        margin-top: 10px;
                    }
                    span:last-child{
                        margin-top:8px;
                        font-size: 12px;
                        color:#bbbbbb;
                    }
                }
                .comment{
                    width: 100%;
                    padding: 5px;
                    font-size:13px;
                    // height:50px;
                }
            }
        }
    }
    ion-footer{
        .twobtn{
            width: 100%;
            height:40px;
            background: white;
            // border-top:1px solid #bbbbbb;
            // border:1px solid red;
            ul{
                margin: 0;
                padding:0;
                list-style: none;
                // border-top:1px solid #BBBBBB;
                li{
                    width: 115px;
                    height: 36px;
                    margin-top:2px;
                    float:right;
                    line-height: 36px;
                    text-align: center;
                    border:1px solid #80c9c4;
                }
                .btn1{
                    color:white;
                    font-size:16px;
                    background: #80c9c4;
                    border-radius:0 5px 5px 0;
                    margin-right:2px;
                }
                .btn2{
                    color:#80c9c4;
                    background: white;
                    font-size:16px;
                    border-radius: 5px 0 0 5px;
                }
            }

        }
    }
    .DialogOne{
        position: absolute;
        width: 100%;
        height: 65%;
        bottom:0;
        z-index:1000; 
        background-color:white;
        // border:1px solid #80c9c4;
 
        .content{
            width: 100%;
            height: calc(100% - 40px);
            // line-height: calc(100% - 40px);
            // border:1px solid red;
            .one{
                width: 100%;
                height:100px;
                float: left;
                border-bottom: 1px solid #BBBBBB;
                .left{
                    width: 20%;
                    height:80px;
                    // border:1px solid black;
                    float: left;
                    margin:10px;
                    img{
                        width:100%;
                        height:100%; 
                    }
                }
                .right{
                    width: 250px;
                    height:80px;
                    // border:1px solid black;
                    float: left;
                    margin-top:10px;
                    margin-left:5px;
                    span{
                        width: 200px;
                        height:20px;
                        display: block;
                        // border:1px solid blue;
                        margin-top:5px;
                        font-size:14px;
                    }
                }
                i{
                    position: absolute;
                    right:8px;
                    top:8px;
                    font-size:22px;
                    font-weight:100;
                    color:gray;
                }
            }
            .two{
                width:100%;
                // height:100px;
                // border:1px solid black;
                border-bottom: 1px solid #BBBBBB;
                float: left;
                span{
                    width: 100%;
                    height:25px;
                    display: block;
                    // border:1px solid red;
                    padding-left: 10px;
                    font-size: 14px;
                    margin-top:5px;
                }
                ul{
                    margin-top:5px;
                    padding: 0;
                    list-style: none;
                    li{
                        // width: 100px;
                        height:25px;
                        float: left;
                        border-radius: 5px;
                        margin-left:10px;
                        margin-bottom:10px;
                        border:1px solid #bbbbbb;
                        color:#bbbbbb;
                        text-align: center;
                        line-height: 25px;
                        font-size:15px;
                        padding-left:10px;
                        padding-right:10px;
                    }
                    .first{
                        color:#80c9c4;
                        border:1px solid #80c9c4;
                    }
                }

            }
            .three{
                width: 100%;
                height:100px;
                float: left;
                // border:1px solid black;
                span{
                    width: 100%;
                    height:25px;
                    display: block;
                    // border:1px solid red;
                    padding-left: 10px;
                    font-size: 14px;
                    margin-top:5px;
                }
                div{
                    padding-left: 10px;
                    padding-top: 10px;
                    button{
                        height:30px;
                        font-size:18px;
                        float: left;
                        background: #eeeeee;
                    }
                    #drop{
                        width:30px;
                        border-top:1px solid #eeeeee;
                        border-left:1px solid #eeeeee;
                        border-bottom:1px solid #eeeeee;

                    }
                    #add{
                        width:30px;
                        border-top:1px solid #eeeeee;
                        border-right:1px solid #eeeeee;
                        border-bottom:1px solid #eeeeee;
                    }
                    #num{
                        width:50px;
                        background: white;
                        border:1px solid #eeeeee;
                    }
                    .jinyong{
                        opacity:0.5;//设置蒙版效果
                        color:#bbbbbb;
                        pointer-events:none;//禁止鼠标事件
                    }
                }
            }
        }

 
        .btn{
            position: absolute;
            width: 100%;
            height: 40px;
            bottom: 0px;
            border-top: 1px solid #dedede;
            color:white;
            font-size:16px;
            background: #80c9c4;
            div{
                height: 40px;
                line-height: 40px;
                width: 100%;
                text-align: center;
            }
            .notclick{
                background: #bbbbbb;
            }
 
        }
    }
    .DialogTwo{
        position: absolute;
        width: 70%;
        height:45px;
        left:15%;
        top:48%;
        z-index:1000; 
        background-color:white;
        border-radius: 10px;
        // border:1px solid #80c9c4;
 
        .div-content{
            width: 100%;
            height:45px;
            text-align: center;
            line-height: 45px;
            font-size:17px;
            font-weight: bold;
            // border:1px solid red;
        }
    }
 
    .shade{
        position: absolute; 
        top: 0%; 
        left: 0%; 
        width: 100%; 
        height: 100%; 
        background-color: black; 
        z-index:999; 
        -moz-opacity: 0.3; 
        opacity:.30; 
        filter: alpha(opacity=30);
    }

}
