page-bed {
    ion-header{
        width: 100%;
        height:88px;
        // border:1px solid red;
    }
    ion-content{
        .goods{
            width: 100%;
            height:100%;
            // border:1px solid black;
            list-style: none;
            margin:0;
            padding:0;
            background:#F5F5F5;
            li{
                float: left;
                width:46%;
                height:260px;
                margin:2% 2% 2% 2%;
                // border:1px solid #BBBBBB;
                border-radius: 10px;
                background: white;
                // div{
                //     width: 160px;
                //     height:200px;
                //     border:1px solid green;
                //     border-radius: 10px;
                //     margin:0 auto;
                //     img{
                //         width:160px;
                //         height:200px;
                //         border-radius: 10px;
    
                //     }
                // }
                img{
                    width:100%;
                    height:210px;
                    border-radius: 10px;
    
                }
                span{
                    // margin-top:2px;
                    width:100%;
                    height:20px;
                    display: block;
                    // border:1px solid green;
                    font-size:15px;
                }
            }
        }
        .bottom{
            width: 100%;
            height:40px;
            // border:1px solid red;
            font-size:16px;
            float: left;
            line-height: 40px;
            text-align: center;
            color:#bbbbbb;
        }
    }
}
