<!--
  Generated template for the MycommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <div class="headbk">
        <span class="backicon" (click)="goBack()">
          <i class="iconfont icon-back"></i>
        </span>
        <span class="title">我的评论</span>
    </div>
</ion-header>
<ion-content >
    <div [ngSwitch]='show'>
      <div *ngSwitchCase='1' id="kong">
          <span><i class="iconfont icon-pinglunkongbaiye"></i></span>
          <span class="text">您还没有评价过商品哦！</span>
      </div>
      <div *ngSwitchCase='2'>
          <ul>
              <li *ngFor="let item of commentData;let i=index" class="list1">
                  <div class="div1">
                      <div class="left"><img src="{{item.images.split('|')[0]}}" alt=""></div>
                      <div class="right">
                        <div class="title">{{item.title}}</div>
                        <div class="star">
                          <span style="color:black">评分：</span>
                          <ul>
                            <li *ngFor="let item2 of item.starArray;let j=index" [class.light]='item2.flag==true'>
                              <i class="iconfont icon-Starash"></i>
                            </li>
                          </ul>
                          <span>{{item.level}}</span>
                        </div>
                      </div>
                  </div>
                  <div class="div2">{{item.context}}</div>
                  <div class="time">{{item.time}}</div>
              </li>
          </ul>
      </div>
    </div>
</ion-content>