page-search {
    ion-header{
        #search{
            width:100%;
            height:30px;
            // border:1px solid red;
            margin-top:5px;
            input{
                width:85%;
                height:30px;
                text-align: center;
                margin-left:5%;
                border-radius: 20px;
                border:1px solid #80C9C4;
                color:#BBBBBE;
            }
            ion-icon{
                position:absolute;
                margin-left:18%;
                line-height: 30px;
                font-size: 25px;
                color:#BBBBBE;
            }
            span{
                color:#80C9C4;
                font-size:14px;
            }
        }
    }
    ion-content{
        margin-top:10px;
        #history{
            width:95%;
            // height:100px;
            // border:1px solid black;
            margin:0 auto;
            .text{
                color:#B3BCB3;
                font-size:16px;
                display: block;
                width:90%;
                height:25px;
                float: left;
                // border:1px solid red;
            }
            .trash{
                color:#B3BCB3;
                font-size:20px;
                display: block;
                width:10%;
                height:25px;
                float: left;
                // border:1px solid red;
                text-align: right;
            }
            ul{
                width: 100%;
                // height:150px;
                margin:0;
                padding: 0;
                // background:yellow;
                list-style: none;
                float: left;
                li{
                    float: left;
                    width:70px;
                    height:25px;
                    border:1px solid #BBBBBB;
                    border-radius: 5px;
                    margin:5px 5px;
                    text-align: center;
                }
            }
        }
        #hot{
            width:95%;
            // height:200px;
            // border:1px solid black;
            margin:5px auto;
            span{
                color:#B3BCB3;
                font-size:16px;
                display: block;
                width:90%;
                height:25px;
                float: left;
                // border:1px solid red;
            }
            ul{
                width: 100%;
                // height:150px;
                margin:0;
                padding: 0;
                // background:yellow;
                list-style: none;
                float: left;
                li{
                    float: left;
                    width:70px;
                    height:25px;
                    border:1px solid #BBBBBB;
                    border-radius: 5px;
                    margin:5px 5px;
                    text-align: center;
                }
            }
        }
    }
}
