page-order {
    ion-header{
        width: 100%;
        height:88px;
    }
    ion-content{
        div{
            #kong{
                margin-top:80px;
            }
            .text{
                width: 100%;
                height:25px;
                display: block;
                float: left;
                text-align: center;
                // border:1px solid red;
                color:#bbbbbb;
            }
            .out{
                margin: 0;
                padding:0;
                background: white;
                list-style: none;
                li{
                    width: 100%;
                    // height:110px;
                    background: white;
                    // border-bottom:1px solid red;
                    float: left;
                    margin-top:5px;
                    .status{
                        width: 100%;
                        height:25px;
                        background: white;
                        text-align: right;
                        float: left;
                        color:#ee202e;
                        padding-right: 10px;
                        line-height: 25px;
                    }
                    .bottom{
                        width: 100%;
                        height:25px;
                        background: white;
                        // border:1px solid black;
                        text-align: right;
                        float: left;
                        padding-right: 10px;
                        line-height: 25px;
                        span{
                            font-weight: bold;
                            font-size:16px;
                        }
                    }
                    .daifukuan{
                        width: 100%;
                        height:35px;
                        background: white;
                        margin-top:5px;
                        float: left;
                        // border:1px solid black;
                        button{
                            background: none;
                            float: right;
                            height:25px;
                            border-radius: 20px;
                            margin-right:10px;
                        }
                        button:first-child{
                            width: 50px;
                            border:1px solid #ee202e;
                            color:#ee202e;
                        }
                        button:last-child{
                            width: 80px;
                            border:1px solid black;

                        }
                    }
                    .yishouhuo{
                        width: 100%;
                        height:35px;
                        background: white;
                        margin-top:5px;
                        float: left;
                        // border:1px solid black;
                        button{
                            width: 80px;
                            color:#ee202e;
                            border:1px solid #ee202e;
                            background: none;
                            float: right;
                            height:25px;
                            border-radius: 20px;
                            margin-right:10px;
                        }
                    }
                    .done{
                        width: 100%;
                        height:35px;
                        float: left;
                        background: white;
                        // border:1px solid red;
                        margin-top:5px;
                        button{
                            width:50px;
                            background: none;
                            float: right;
                            height:25px;
                            border-radius: 20px;
                            margin-right:10px;
                            border:1px solid #ee202e;
                            color:#ee202e;
                        }
                    }
                }
            }
            .inside{
                margin: 0;
                padding:0;
                background: white;
                list-style: none;
                li{
                    width: 100%;
                    // height:110px;
                    // border:1px solid red;
                    margin-top:0px;
                    .left{
                        width: 23%;
                        height:90px;
                        margin-left:3%;
                        margin-top: 10px;
                        background: white;

                        // border:1px solid black;
                        float: left;
                        img{
                            // margin-left:4px;
                            // width: 100px;
                            // height:120px;
                            width: 100%;
                            height:100%;
                        }
                    }
                    .right{
                        background: white;
                        margin-top: 5px;
                        margin-left:3%;
                        width:67%;
                        height:100px;
                        float: left;
                        // border:1px solid black;
                        span{
                            width: 100%;
                            height:25px;
                            display: block;
                            // border:1px solid green;
                            line-height: 25px;
                        }
                        .title{
                            margin-top: 5px;
                            #amount{
                                display: inline-block;
                                width:50px;
                                height:25px;
                                // border:1px solid red;
                                float: right;
                                text-align: right;
                                color:#bbbbbb;
                            }
                        }
                        .type{
                            margin-top:5px;
                            color:#bbbbbb;
                        }
                        .price{
                            margin-top:5px;
                        }
                    }
                }
            }
        }
    }
    .DialogTwo{
        position: absolute;
        width: 70%;
        height:45px;
        left:15%;
        top:48%;
        z-index:1000; 
        background-color:white;
        border-radius: 10px;
        // border:1px solid #80c9c4;

        .div-content{
            width: 100%;
            height:45px;
            text-align: center;
            line-height: 45px;
            font-size:17px;
            font-weight: bold;
            // border:1px solid red;
        }
    }
    .shade{
        position: absolute; 
        top: 0%; 
        left: 0%; 
        width: 100%; 
        height: 100%; 
        background-color: black; 
        z-index:999; 
        -moz-opacity: 0.3; 
        opacity:.30; 
        filter: alpha(opacity=30);
    }
}
