page-forgetpwd {
    ion-content{
        .div1{
            width: 80%;
            height:35px;
            margin:15px auto;
            // border:1px solid red;
            span{
                color:#8F8E94;
                font-size:16px;
                display:block;
                width:65px;
                height: 35px;
                // border:1px solid green;
                float: left;
                line-height:35px;
                text-align: right;
            }
            input{
                float: left;
                width: 220px;
                height:35px;
                border:none;
                border-bottom:1px solid #BBBBBB;
                margin-left:10px;
            }
            input::-webkit-input-placeholder { /* WebKit browsers */ 
                color: #C3BDBD; 
            } 
        }
        .div2{
            width: 80%;
            height:35px;
            margin:15px auto;
            // border:1px solid red;
            span{
                color:#8F8E94;
                font-size:16px;
                display:block;
                width:65px;
                height: 35px;
                // border:1px solid green;
                float: left;
                line-height:35px;
                text-align: right;
            }
            input{
                width: 130px;
                height:35px;
                border:none;
                border-bottom:1px solid #BBBBBB;
                margin-left:10px;
                float: left;
            }
            input::-webkit-input-placeholder { /* WebKit browsers */ 
                color: #C3BDBD; 
            } 
            button{
                width: 90px;
                margin-left:5px;
                height:35px;
                border:1px solid #80c9c4;
                background: white;
                border-radius: 8px;
                color:#80c9c4;
            }
        }
        #codeShow{
            width:180px;
            height:50px;
            font-size:25px;
            color:#444444;
            font-family: '楷体';
            text-align: center;
            line-height: 50px;
            // border:1px solid #FD273F;
            opacity:0.8!important ;
            display: none;
            margin-top:5px;
            margin-left:110px;
        }
        #save{
            width: 80%;
            height:40px;
            border:1px solid #80C9C4;
            background: #80C9C4;
            color:white;
            font-size:16px;
            margin-left:10%;
            margin-top:30px;
            border-radius:30px;
        }
    }
}
